@model CVMSCore.BAL.Models.Master.UserDetail

@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/css/style.css" rel="stylesheet" />
    <style type="text/css">
        .se-pre-con {
            position: fixed;
            left: 0%;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 16000;
            background: url(../Content/images/logo-ani-nesw.gif) center no-repeat #fff;
            background-size: 100%;
            padding-left: 25%;
        }

        .login-box {
            padding: 26px 35px !important;
            width: 385px;
        }
    </style>

</head>

<body>
    <div class="se-pre-con"></div>
    <div class="wraper-main wraper-login">
        <div class="wraper-login-inner">
            <a href="#" class="linkquest_text_logo">LINKQUEST TECHNOLOGIES</a>
            <div class="login-box">
                @*<div class="login-box" style="width:430px">*@
                @*<div class="login-box-logo">
                <a href="javascript:void()"><img src="~/Content/images/LQ-logo.png"></a>
                </div>*@

                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "frmUser", @class = "login-form" }))
                {
                    @Html.HiddenFor(m => m.UserToken)
                    ;
                    <div class="form-group">
                        @*@Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" });*@
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName/Email", type = "text", @required = "true" })
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        @*@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" });*@
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @onkeyup = "matchPassword()", placeholder = "Password", type = "password", @required = "true" })
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                    </div>
                    <div class="form-group">
                        @*@Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" });*@
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @onkeyup = "matchPassword()", placeholder = "Confirm Password", type = "password", @required = "true" })
                        <i class="fa fa-unlock" aria-hidden="true"></i>
                    </div>
                    <div class="form-group text-center">
                        @*@if (ViewBag.ReturnMessage == "1")
                    {*@
                        <button type="submit" class="btn btnBlack" id="Sbtid" disabled>Submit</button>

                        @*}*@
                    </div>
                    <div class="form-group text-center">
                        <span id="spanMessage" class="text-danger"></span>
                    </div>
                    <div class="form-group text-right">
                        @*@if (Convert.ToString(ViewBag.ReturnMessage) != "1")
                    {
                    if (Convert.ToString(ViewBag.ReturnMessage) == "success")
                    {
                    <span class="text-success" id="spanMessage">Your Password successfully updated</span>
                    }
                    else
                    {
                    <span class="text-danger" id="spanMessage">@Convert.ToString(ViewBag.ReturnMessage)</span>
                    }
                    }*@
                        <span class="text-danger" id="spanMessage">@Convert.ToString(TempData["ResetReturnMessage"])</span>
                        @*<a class="forgot-pswrd-lnk" href="~/Account/Login">Login</a>*@
                        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="modal confirmation-popup C-popup-warning fade" data-backdrop="static" data-keyboard="false" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-exclamation-triangle confirmation-popup-icon" aria-hidden="true"></i>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 id="spanWaringMessage" class="confirmation-popup-msg">Warning</h5>
                    @*<div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <div class="form-group text-center mb-0">
                    <div class="row text-danger m-0 mb-3" id="divMessage" style="width:400px;">

                    </div>
                    <span id="spanWaringMessage" class="text-success"></span>
                    </div>
                    </div>*@
                </div>
                <div class="modal-footer text-center justify-content-center">
                    <button type="button" id="error" class="btn confirmation-popup-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/content/js/common.js"></script>
    <script src="~/content/js/account/resetpasswordjs.js"></script>
    <script>
        setTimeout(function () {
            $(".se-pre-con").hide("slow");
        }, 2000)

    </script>
</body>

</html>

