@model CVMSCore.BAL.Models.Master.Currency
@{
    ViewData["Title"] = "Currency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-heading-row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="page-heading">Currency</h1>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="search-strip">
            <ul class="search-box d-flex">
                <li class="flex-grow-1"><input type="text" placeholder="Search.." , autocomplete="off" id="searchData" class="form-control"></li>
                <li><button type="button" class="btn btnGrey"><i class="fa fa-search" aria-hidden="true"></i></button></li>
            </ul>
            <button type="button" data-toggle="modal" data-target="#CloseCurrencyModal" class="btn btn-add-master btnGrey">+ Add</button>
        </div>
        <div class="table-responsive">
            <table class="table table-hover master-table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">S no.</th>
                        <th scope="col">Currency name</th>
                        <th scope="col">Currency code</th>
                        @*<th scope="col">Country name</th>*@
                        <th scope="col">Remarks</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="tbodyCurrencyTable">
                    @if (ViewBag.CurrencyList != null)
                    {
                        var count = 0;
                        foreach (CVMSCore.BAL.Models.Master.Currency item in ViewBag.CurrencyList)
                        {
                            count = count + 1;
                            <tr>
                                <th scope="row">@count</th>
                                <td>
                                    @item.CurrencyName
                                </td>
                                <td>@item.CurrencyCode</td>
                                @*<td>@item.CountryName</td>*@
                                <td>@item.Remarks</td>
                                <td>

                                    <input type="hidden" value="@item.Id" />
                                    <button type="button" onclick="EditCurrency(@item.Id, event)" class="btn btn-sm btn-success">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="DeleteCurrency(@item.Id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="CloseCurrencyModal" tabindex="-1" role="dialog" aria-labelledby="masterModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content master-popup-content">
            <div class="modal-header master-popup-header">
                <h5 class="modal-title" id="masterModalLabel">Currency</h5>
                <button type="button" class="close" onclick="CloseCurrencyModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body master-popup-body">
                <form class="popup-form">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.CurrencyName, new { @class = "form-control", placeholder = "Currency name", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.CurrencyCode, new { @class = "form-control", placeholder = "Currency Code", autocomplete = "off", maxlength = 3 })
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                    @Html.DropDownListFor(m => m.CountryId, new SelectList(ViewBag.CountryList, "CountryID", "Country"), "Select Country", new { @Class = "form-control" })
                    </div>
                    </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control", placeholder = "Remarks", autocomplete = "off" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group text-right mb-0">
                                <span id="spanMessage" class="text-success"></span>
                                <input type="hidden" id="hdnCurrency" />
                                <button type="submit" id="btnSaveCurrency" class="btn btn-info">Submit</button>
                                <button type="button" class="btn btn-danger" onclick="CloseCurrencyModal()">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer master-popup-footer">

            </div> -->
        </div>
    </div>
</div>
@section layoutjs
    {

    <script src="~/content/js/master/currency.js"></script>

}
